.chart-module {
	width: 70%;
	display: table-cell;
	vertical-align: top;
	padding: 0px 25px;
	position: relative;

	&__title-block {
		padding: 25px 0px;
		&__title {
			font-size: 20px;
			margin-bottom: 0px;
		}
	}

	&__footer-note {
		font-size: 12px;
		font-style: italic;
		color: palette-get(na-black-40);
	}

	&__charts {
		padding: 20px 0px 25px;
	}

	&__subquestion-heading {
		font-weight: bold;
		font-size: 16px;
		padding: 0px 0px 10px;
	}
}