.chart {
	-webkit-transition: transform 5s ease-out 1s;
    -moz-transition: transform 5s ease-out 1s;
    -o-transition: transform 5s ease-out 1s;
    transition: transform 5s ease-out 1s;

	&__filter-label {
		alignment-baseline: middle;
		fill: palette-get(na-black-70);
		font-size: 12px;
	}

	&__data {
		&__rect {
			opacity: 1;
			stroke: white;
		}

		&__label {
			fill: white;
			alignment-baseline: middle;
			font-size: 12px;
			/*font-weight: bold;*/
		}
	}
}