.chart {

	&__filter-label {
		alignment-baseline: middle;
		fill: palette-get(na-black-70);
		font-size: 12px;
	}

	&__data {
		&__rect {
			opacity: 1;
			stroke: white;

			&:hover {
				opacity: .7;
			}
		}

		&__label {
			fill: white;
			alignment-baseline: middle;
			font-size: 12px;
			pointer-events: none;
			/*font-weight: bold;*/
		}
	}
}