$filter-max-width: 400px;
$clear-button-width: 70px;
.filter {
	max-width: 400px;

	
	.Select {
		padding-right: 75px;
	}

	.Select-menu-outer {
		max-width: $filter-max-width - $clear-button-width - 5;
	}

	.Select-clear-zone {
		font-size: 12px;
		left: 115px !important;
		width: 100px !important;

		&:hover {
			color: palette-get(na-turquoise) !important;
		}
	}


}